**/.idea
**/*.iml

lcov.info

.packages
pubspec.lock
.dart_tool/

benchmark_results.json
.flutter-plugins
.flutter-plugins-dependencies
flutter_export_environment.sh
# Local Netlify folder
.netlify
extras/flutter_web_worker_example/build
