**/.idea
**/*.iml

lcov.info

.packages
*/**/pubspec.lock
.dart_tool/

benchmark_results.json
.flutter-plugins
.flutter-plugins-dependencies
flutter_export_environment.sh
# Local Netlify folder
.netlify
.DS_Store

docs/**/*.g.dart

*/build/
drift/extension/devtools/build
**/pubspec_overrides.yaml
**.history/

# FVM Version Cache
.fvm/