language: dart

dart:
  - stable

env:
  - PKG="sally"
  - PKG="sally_generator"

script: ./tool/travis.sh dartfmt dartanalyzer test

# Only building master means that we don't run two builds for each pull request.
branches:
  only:
    - master

cache:
  directories:
    - "$HOME/.pub-cache"
