## This file is used because in the docker run, localhost doesn't work (easily)
## but dev and testing without docker should stay possible.
global
    log /dev/log local0

defaults
    log     global
    mode    tcp
    timeout connect 5s
    timeout client  30m
    timeout server  30m

# Proxy to PostgreSQL
frontend postgres_local
    bind 127.0.0.1:5432
    default_backend postgres_docker

backend postgres_docker
    server pg_server postgres:5432 check

# Proxy to MariaDB
frontend mariadb_local
    bind 127.0.0.1:3306
    default_backend mariadb_docker

backend mariadb_docker
    server maria_server mariadb:3306 check

# Proxy to Chrome
frontend chrome_local
    bind 127.0.0.1:4444
    default_backend chrome_docker

backend chrome_docker
    server chrome_server chrome:4444 check

# Proxy to Firefox
frontend firefox_local
    bind 127.0.0.1:4445
    default_backend firefox_docker

backend firefox_docker
    server firefox_server firefox:4444 check
